<!DOCTYPE html>
<html>
    <head>
        <title>THIS OR THAT?</title>
        <style>

        </style>
    </head>
    <body>
        History
        <table id="generations-table">
            <tr>
                <th>Generation</th>
                <th>Parameters</th>
                <th>Scores</th>
                <th>Render</th>
            </tr>
            {% for item in history_of_gens %}
            <tr>
                <td> {{ item['gen'] }} </td>
                <td> {{ item['parameters'] }} </td>
                <td> {{ item['elo'] }} </td>
                <td> {{ item['render'] }} </td>
            </tr>
            {% endfor %}
    </body>
</html>
