<!DOCTYPE html>
<html>
    <head>
        <title>Evolution Chamber - History</title>
        <style>
		  	body {
		  		font-family: "Lato";
		  		font-size: 14pt;
		  	}

		  	h1 {
		  		font-family: "Montserrat";
		  		font-size: 36pt;
		  		text-transform: uppercase;
		  	}

		  	.history-container {
		  		text-align: center;
		  		margin: 0 auto;
		  	}

		  	#generations-table {
		  		border: 1px solid black;
		  	}

		  	th {
		  		border-bottom: 1px solid black;
		  		font-weight: bold;
		  		text-transform: uppercase;
		  	}

        </style>

  	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  	<link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic-ui/dist/semantic.css" />

    </head>
    <body>
    	<div class = "history-container">
	        <h1>History of Evolution</h1>
	        <p>See what you have evolved!</p>
	        <table id="generations-table">
	            <tr>
	                <th>Generation</th>
	                <th style="width: 300px;">Genome</th>
	                <th>Scores</th>
	                <th>Render</th>
	            </tr>
	            {% for item in history_of_gens %}
	            <tr>
	                <td> {{ item['gen'] }} </td>
	                <td style="font-size: 10pt;"> {{ item['parameters'] }} </td>
	                <td> {{ item['elo'] }} </td>
	                <td> {{ item['render'] }} </td>
	            </tr>
	            {% endfor %}
	        </table>
	    </div>
    </body>
</html>
