<!DOCTYPE html>
<html>
<head>
  <title>THIS OR THAT?</title>
  <style>
  	body {
  		font-family: "Lato";
  		font-size: 14pt;
  	}

  	h1 {
  		font-family: "Montserrat";
  		font-size: 36pt;
  		text-transform: uppercase;
  	}

    .container {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

  	#left {
  		float: left;
  		text-align: right;

  	}

  	#right {
  		float: right;
  		text-align: left;
  	}

    a {
        text-decoration: none;
        font-size: 16pt;
        color: {{ magic_color }};
    }

  </style>
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
</head>
<body>
    <script>
    function post(loser, winner) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/", true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                window.location = '/';
            }
        };
        xmlhttp.send('generation={{ generation }}&loser=' + loser + '&winner=' + winner);
    }
    function winLeft() {
        post('{{ right_id }}', '{{ left_id }}');
    }
    function winRight() {
        post('{{ left_id }}', '{{ right_id }}');
    }
    </script>
    <div style="width: 100%; text-align: center;">
    	<h1>Evolution Chamber</h1>
        <div class="container">
          <div id = "left" onclick="winLeft();">
            {{ left }}
          </div>
          <div id = "right" onclick="winRight();">
            {{ right }}
          </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <p style="text-transform: italic; text-align: center; font-size: 12pt;">Tap on the one you like more. Left and right arrow keys work too.</p>
    <p style="text-align: center;"><b>Generation:</b> {{ generation }} <br> - <br> <b>Progress:</b> {{ progress }} %</p>
    <a href="/history"><p style="text-transform: italic; text-align: center;"><b>See what you've evolved!</b></p></a>
    <script>
    var LEFT = 37;
    var RIGHT = 39;
    document.onkeydown = function(e) {
        e = e || window.event;
        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
        if (charCode === LEFT) {
            winLeft();
        } else if (charCode === RIGHT) {
            winRight();
        }
    };
    </script>
</body>
</html>
